---
layout: default
permalink: /shop/
products:
  'Devices':
    'PGB-1': {link: 'pgb-1', subtitle: '(pre-order<br>ships in August)', img: '/assets/pgb-1/wnm-pgb-1-product-image.png'}
    'PGB-1 Aluminum': {link: 'pgb-1-alu-black', subtitle: '(pre-order<br>ships in August)', img: '/assets/pgb-1/wnm-pgb-1-product-image.png'}
  'Accessories':
    'Waist Pack': {link: 'awp-1', img: '/assets/products/awp-1-preview.png'}
    'keychain': {link: 'akc-1', img: ''}
  'Noise Nugget 2040':
    'Devkit': {link: 'nn2040-devkit', img: '/assets/noise-nugget-2040/wnm-nn2040-devkit-pinout.png'}
    'Breakout': {link: 'nn2040-breakout', img: '/assets/noise-nugget-2040/wnm-nn2040-breakout-pinout.png'}
    'Bulk Order': {link: 'nn2040-bulk-order', img: '/assets/noise-nugget-2040/nn-2040-product-image.png'}
---
<style>
.cards {
  width:80vw;
  margin: 0 auto;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards a:hover {
  text-decoration: none;
}

.card {

  border-radius: 0.25rem;
  //border-style: outset;
  //border-color: #00b1c9;

  background: radial-gradient( circle at center in hsl shorter hue, #d7c3aa, #7b603a );

  padding: 0.5rem;
  height: 5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.card-title {
  font-family: zeroesone;
  color: white;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.card-subtitle {
  font-family: zeroesone;
  font-size: 0.8rem;
  color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.card-img {
  height:5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: center;

  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
</style>

{% for category in page.products %}
{{category[0]}}
<div class="cards">
{% for product in category[1]%}
<a href="{{product[1].link}}">
  <div class="card">
    <div class="card-title">{{product[0]}}</div>
    {% if product[1].subtitle %}
    <div class="card-subtitle">{{product[1].subtitle}}</div>
    {% endif %}
    <img class="card-img" src="{{product[1].img}}">
  </div>
</a>
{% endfor %}
</div>
<hr>
{% endfor %}
