<script>
const audio_sample_rate = 32000;
const sector_size = 4096;
const sectors_per_sample = 32;
const number_of_samples = 64;
const sample_byte_size = sector_size * sectors_per_sample;
const sample_name_len = 14;
const sample_metadata_byte_size = sample_name_len + 4;
const sample_audio_byte_size = sample_byte_size - sample_metadata_byte_size;
const sample_point_count = sample_audio_byte_size / 2;

const flash_base = 0x10000000;
const code_sectors = 256;
const FS_sectors = 1792;
const sample_library_offset = (code_sectors + FS_sectors) * sector_size;
const sample_library_base = flash_base + sample_library_offset;

var audioBuffer = null;
var playSource = null;

window.addEventListener('pageshow', PageShowHandler, false);

function PageShowHandler() {
    //  Reset the input values on reload
    enableButtons(false);
    document.getElementById('file1').value = null;
}

function toMono(data) {

    var ac = new OfflineAudioContext(1, data.length, data.sampleRate);
    const left = data.getChannelData(0);
    const right = data.getChannelData(1);
    var mono = ac.createBuffer(1, data.length, data.sampleRate);

    const mono_array = mono.getChannelData(0);
    for (let i = 0; i < mono_array.length; i++) {
       mono_array[i] = left[i] + right[i] / 2;
    }
    
    return mono;
}

function enableButtons(enable=true) {
    document.getElementById('sample_name').disabled = !enable;
    document.getElementById('sample_id').disabled = !enable;
    document.getElementById('sample_play').disabled = !enable;
    document.getElementById('sample_pause').disabled = !enable;
    document.getElementById('sample_convert').disabled = !enable;
}

function loadSound(buffer, filename) {
    var ac = new OfflineAudioContext(1, audio_sample_rate, audio_sample_rate);
    ac.decodeAudioData(buffer, function (buffer) {
        // success callback, buffer is a https://developer.mozilla.org/en-US/docs/Web/API/AudioBuffer
        audioBuffer = buffer;
        console.log("src sample rate:" + buffer.sampleRate);
        console.log("src Duration:" + buffer.duration);
        console.log("src length:" + buffer.length);
        console.log("src Number of channels:" + buffer.numberOfChannels);

        if (buffer.numberOfChannels > 2) {
            alert("Stereo or Mono audio file only (" + buffer.numberOfChannels
            + ")");
        } else {
            if (buffer.numberOfChannels == 2) {
                audioBuffer = toMono(buffer);
            } else {
                audioBuffer = buffer;
            }
        }
        console.log("MONO sample rate:" + buffer.sampleRate);
        console.log("MONO Duration:" + buffer.duration);
        console.log("MONO length:" + buffer.length);
        console.log("MONO Number of channels:" + buffer.numberOfChannels);

        // Set a truncated sample name from the filename
        document.getElementById('sample_name').value = filename.substring(0, sample_name_len);

        // Warn the user in case of a sample exceeding the max duration
        document.getElementById('sample_too_long').style.visibility = 
            buffer.length > sample_point_count ? "visible" : "hiddent";

        enableButtons();
        drawSample();
    }, function (e) {
        console.log('Error decoding file', e);
    });}

function loadSample() {
    var reader = new FileReader();
    const file = document.getElementById('file1').files[0]
    audioBuffer = null;
    drawSample();
    reader.readAsArrayBuffer(file);
    reader.onload = function (e) {
        loadSound(this.result, file.name);
    };
}

function pause() {
    if (playSource) {
        playSource.stop(0);
        playSource = null;
    }
}

function play() {
    pause();
    if (audioBuffer) {
        var ac = new AudioContext();
        // source is global so we can call .stop() later.
        playSource = ac.createBufferSource();
        playSource.buffer = audioBuffer;
        playSource.loop = false;
        playSource.connect(ac.destination);
        playSource.start(0); // Play immediately.
        ac.onended = () => {
            playSource = null;
        }
    }
}

function downloadUFT2(blob, name) {
    const data = window.URL.createObjectURL(blob);

    const link = document.createElement('a');
    link.href = data;
    link.download = name;
    link.click()
}

function makeUF2Block(data, addr, blockNumber, totalBlockNumber) {
    var block = new Uint8Array(512);
    var dv = new DataView(block.buffer);

    // First magic number    
    dv.setUint32(0, 0x0A324655, true);

    // Second magic number
    dv.setUint32(4, 0x9E5D5157, true);

    // Flags
    dv.setUint32(8, 0x00002000, true);

    // Addresss in flash
    dv.setUint32(12, addr, true);

    // Number of bytes in payload
    dv.setUint32(16, data.length, true);

    // Sequential block number
    dv.setUint32(20, blockNumber, true);

    // Total number of blocks in file
    dv.setUint32(24, totalBlockNumber, true);

    // FamilyID
    dv.setUint32(28, 0xe48bff56, true);

    // Payload
    for (var i = 0; i < 476; i++) {
        if (i < data.length) {
            block[32 + i] = data[i];
        } else {
            block[32 + i] = 0;
        }
    }

    // Final magic number
    dv.setUint32(508, 0x0AB16F30, true);

    return block;
}

function Convert(){

    // Convert to Int16 PCM
    const pcmFloat = audioBuffer.getChannelData(0);
    var pcmInt16 = new Int16Array(pcmFloat.length);
    for (var i = 0; i < pcmFloat.length; i++) {
        let s = Math.max(-1, Math.min(1, pcmFloat[i]));
        pcmInt16[i] = s < 0 ? s * 0x8000 : s * 0x7FFF;
    }      

    // Buffer for the full sample in flash
    var sample_buffer = new Uint8Array(sample_byte_size);

    //  Write sample audio data
    for (var i = 0; i < pcmInt16.length; i++) {
        sample_buffer[i * 2] = pcmInt16[i] & 0xFF; 
        sample_buffer[i * 2 + 1] = (pcmInt16[i] >> 8) & 0xFF; 
    }    

    //  Write sample name
    const name = document.getElementById('sample_name').value;
    const name_offset = sample_buffer.length - sample_metadata_byte_size;
    console.log(name);
    console.log(name.length);
    for (var i = 0; i < sample_name_len; i++) {
        var char = ' ';
        if (i < name.length) {
            char = name[i];
        }
        sample_buffer[name_offset + i] = char.charCodeAt();
    }

    // Write sample length
    sample_buffer[sample_buffer.length - 4] = (pcmInt16.length >> 24) & 0xFF;
    sample_buffer[sample_buffer.length - 3] = (pcmInt16.length >> 16) & 0xFF;
    sample_buffer[sample_buffer.length - 2] = (pcmInt16.length >> 8) & 0xFF;
    sample_buffer[sample_buffer.length - 1] = (pcmInt16.length >> 0) & 0xFF;

    // Make UF2 blocks and concatenate them into a single file
    const sample_id = document.getElementById('sample_id').value - 1;
    const blockSize = 256;
    const numberOfBlocks = sample_byte_size / blockSize;
    const UF2Size = 512;
    const sample_base = sample_library_base + sample_id * sample_byte_size;
    var file_data = new Uint8Array(UF2Size * numberOfBlocks);
    for (var block_id = 0; block_id < numberOfBlocks; block_id++) {
        const block_addr = sample_base + block_id * blockSize;
        var UF2block = makeUF2Block
          (sample_buffer.subarray
             (block_id * blockSize, (block_id + 1) * blockSize),
             block_addr,
             block_id,
             numberOfBlocks); 
        file_data.set (UF2block, block_id * UF2Size);
    }

    downloadUFT2(new Blob([file_data]), (sample_id + 1) + "-" + name + ".pgb1sampleuf2");
}

function drawSample() {
    var canvas = document.getElementById('sample_visual');
    const width = canvas.width;
    const height = canvas.height;
    const scale_height = 0;
    const wav_height = canvas.height - scale_height;
    var ctx = canvas.getContext('2d');

    ctx.clearRect(0, 0, width, height);

    if (audioBuffer) {
        const data = audioBuffer.getChannelData(0);
        const step = Math.ceil(data.length / width);
        const amp = wav_height / 2;

        if (data.length <= width) {
            // Display waveform sample points
            ctx.strokeStyle = "rgb(0 0 255 / 100%)";
            ctx.beginPath();
            ctx.moveTo(0, wav_height / 2);
            for (var i = 0; i < width; i++){
                ctx.lineTo(i, wav_height / 2 + data[step * i] * amp);
            }
            ctx.stroke();
        } else {
            // Display average and RMS
            for (var i = 0; i < width; i++) {
                const slice = data.subarray(step * i, step * (i + 1));
                const sum = slice.reduce((acc, val) => acc + Math.abs(val), 0);
                const mean = sum / slice.length;
                const mean_height = mean * amp;

                ctx.strokeStyle = "darkblue";
                ctx.beginPath();
                ctx.moveTo(i, wav_height / 2 + mean_height);
                ctx.lineTo(i, wav_height / 2 - mean_height);
                ctx.stroke();

                const sqsum = slice.reduce((acc, val) => acc + val * val, 0);
                const rms = Math.sqrt(sqsum / slice.length);
                const rms_height = rms * amp;

                ctx.strokeStyle = "#2cebff";
                ctx.beginPath();
                ctx.moveTo(i, wav_height / 2 + rms_height);
                ctx.lineTo(i, wav_height / 2 - rms_height);
                ctx.stroke();
            }
        }

        // Show the part of the sound that will be truncated, if any
        if (data.length > sample_point_count) {
            const over_limit_x = sample_point_count / step;
            ctx.fillStyle = "rgb(255 0 0 / 50%)";
            ctx.beginPath();
            ctx.rect(over_limit_x, 30, width - over_limit_x, wav_height - 60);
            ctx.fill();
        }

        if (scale_height > 0) {
            const duration = audioBuffer.duration;
            const pix_duration = duration / width;
            const tick_time = duration < 1.0 ? 0.1 : 0.5;
            const tick_x_count = tick_time / pix_duration;
            ctx.fillStyle = "#2cebff";
            ctx.strokeStyle = "#2cebff";
            ctx.beginPath();
            ctx.moveTo(0, height - scale_height);
            ctx.lineTo(width, height - scale_height);
            ctx.stroke();
    
            for (var i = 0; i < 10; i++) {
                const tick_x = i * tick_x_count;
    
                ctx.beginPath();
                ctx.moveTo(tick_x, height - scale_height);
                ctx.lineTo(tick_x, height - 5);
                ctx.stroke();
    
                ctx.font = '9px Arial';
                ctx.textAlign = 'start';
                ctx.fillText((tick_time * i).toFixed(1) + "s", tick_x + 3, height - 5);
            }
        }
    }
}
</script>
<style>

:root {
    --background-color: #111;
    --primary-color: #2cebff;
    --disabled-color: #979d9e;
    --secondary-color: #ff5c00;
    --tertiary-color: red;
}

@keyframes crtAnimation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 5000%;
    }
}

div.sample-converter-container * {
    background-color: transparent;
    color: var(--primary-color);
    font-family: 'zeroesone', sans-serif;
    font-weight: 300;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    border-color: var(--primary-color);
    font-size: clamp(18px, 3vw, 30px);
    text-shadow: 0 0 0.3rem;
}

div.sample-converter-container input::file-selector-button {
    background-color: transparent;
    color: var(--primary-color);
    font-family: 'zeroesone', sans-serif;
    font-weight: 300;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    border-color: var(--primary-color);
    font-size: clamp(18px, 3vw, 30px);
    text-shadow: 0 0 0.3rem;
}

input:disabled, button:disabled {
    color: var(--disabled-color);
    border-color: var(--disabled-color);
}

div.sample-converter-container {
    width: 90%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0.5rem;
    border: 2px solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
 
    font-family: 'zeroesone', sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    scrollbar-color: var(--primary-color) var(--secondary-color);
    font-size: clamp(18px, 3vw, 30px);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.664) 50%, #000 50%);
    mask-size: 100% 2px;

    box-shadow: inset 0px 0px 0.3rem;
    background-image: linear-gradient(0deg, #0000 10%, #fff1 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
}

#sample_too_long {
    width: 100%;
    color: var(--tertiary-color);
    text-align: end;
    visibility: hidden;
}

#sample_visual {
    width: 100%;
    height: 20vh;
}
</style>
<hr>
  <h2 id="sample-converter">Sample Converter</h2>
  <ol>
    <li>Convert your audio file into PGB-1 UF2 sample using the tool below</li>
    <li>Connect your PGB-1 to your computer with a USB cable</li>
    <li>Enable update mode from the PGB-1 menu</li>
    <li>A new USB drive called "RPi-RP2" will show up on your computer</li>
    <li>Drag and drop one UF2 sample in the "RPi-RP2" USB drive</li>
    <li>PGB-1 will reset with the new sample installed</li>
  </ol>
<div class="sample-converter-container">
<input id="file1" type="file" accept="audio/*" value="" onchange="loadSample()"/><br>
    <canvas id='sample_visual'></canvas><br>
    <div style="display: flex;">
        <button type="button" id="sample_play" onclick="play()" width="50%" disabled>▶</button>
        <button type="button" id="sample_pause" onclick="pause()" width="50%" disabled>⏸</button>
        <label id="sample_too_long">Sample too long, will be truncated.<label>
    </div>
    <hr width="100%">
    <form>
        <label>Sample Name:</label>
        <input type="text" id="sample_name" name="sample_name"
               maxlength="14" onkeydown="return /[a-zA-Z0-9-_ ]/i.test(event.key)"
               disabled><br>
        <label>Sample Slot:</label>
        <input type="number" id="sample_id" 
               min="1" max="64" step="1" value="1"
               disabled><br>
        <button type="button" id="sample_convert" onclick="Convert()" disabled>Export</button><br>
    </form>
</div>
