// Import custom font
@font-face {
  font-family: "zeroesone";
  src: url("../fonts/ZeroesOne.ttf");
}

// Set title font
.site-title {
    font-family: "zeroesone"
}

.author-avatar {
  border-radius: unset;
}
